.footer.js-footer 
   .footer__main.js-footer__main
                        p(style="width:100%;") © ComIT 2020. ComIT is a registered charity. Charity Registration Number 749949723RR0001  
                        p All charitable donations to ComIT are eligible for a tax receipt in Canada.