<!DOCTYPE html>
<html lang="eng">
  <head> 
    <title>ComIT | Home </title>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/nav.css">
    <link rel="stylesheet" href="../css/donate.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="icon" href="../assets/comit1.png">
  </head>
  <body> 
    <div class="nav js-nav">
      <div class="nav__logo js-nav__logo"><a href="/"><img src="../assets/comit2.png" alt="ComIT"></a></div>
      <div class="nav__a js-nav__a"><a href="/courses">Courses</a><a href="/associates">Associates</a><a class="nav__donate js-nav__donate" href="/donate" style="padding:7.5px 12.5px;">Donate</a></div>
      <div class="nav__social js-nav__social js-nav__a"><a href="https://www.linkedin.com/school/comitorg/"><img src="../assets/icons/linkedin.png"></a><a href="https://www.youtube.com/channel/UCWHKdUjlbwcEqYnTvei7Pqg"><img src="../assets/icons/youtube.webp"></a><a href="https://www.instagram.com/comit_org/?hl=en"><img src="../assets/icons/instagram.png"></a><a href="https://twitter.com/comitorg?lang=en"><img src="../assets/icons/twitter.webp"></a><a href="https://www.facebook.com/ComITorg"><img src="../assets/icons/facebook.webp"></a></div>
    </div>
    <div class="body-content js-body-content"> 
      <div class="donate-body js-donate-body">
        <h1>Support Our Team. Support Our Students.</h1>
        <form id="donateform" action="donateForm" method="post">
          <table> 
            <tr> 
              <th> 
                <label>First Name⠀</label>
              </th>
              <th>
                <input type="text" id="firstname" name="firstName" autocomplete="off">
              </th>
            </tr><br>
            <tr> 
              <th>
                <label>Last Name⠀⠀</label>
              </th>
              <th>
                <input type="text" id="lastname" name="lastName" autocomplete="off">
              </th>
            </tr><br>
            <tr>
              <th>
                <label>Comments⠀⠀⠀</label>
              </th>
              <th>
                <input type="text" id="comments" name="comments" autocomplete="off">
              </th>
            </tr><br>
            <tr>
              <th>
                <label>Email   ⠀⠀⠀ ⠀</label>
              </th>
              <th>
                <input type="text" id="email" name="email" autocomplete="off">
              </th>
            </tr><br>
            <tr>
              <th>
                <label>Donation Amount </label>
              </th>
              <th>
                <input type="text" id="donate" name="donate" autocomplete="off">
              </th>
            </tr><br>
          </table><br>
          <input type="submit" id="submit" name="submitDonate">
        </form>
        <h1 style="font-size:12px;">All donations to ComIT are eligible for a tax receipt in Canada!</h1>
      </div>
      <div class="footer js-footer"> 
        <div class="footer__main js-footer__main">
          <p style="width:100%;">© ComIT 2020. ComIT is a registered charity. Charity Registration Number 749949723RR0001  </p>
          <p>All charitable donations to ComIT are eligible for a tax receipt in Canada.</p>
        </div>
      </div>
    </div>
  </body>
  <body> </body>
</html>
<html></html>