<!DOCTYPE html>
<html lang="eng">
  <head> 
    <title>ComIT | Home </title>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/nav.css">
    <link rel="stylesheet" href="../css/home.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="icon" href="../assets/comit1.png">
  </head>
  <body> 
    <div class="nav js-nav">
      <div class="nav__logo js-nav__logo"><a href="http://localhost:4444"><img src="../assets/comit2.png" alt="ComIT"></a></div>
      <div class="nav__a js-nav__a"><a href="http://localhost:4444/courses">Courses</a><a href="http://localhost:4444/employers">Employers</a><a href="http://localhost:4444/supporters">Supporters</a><a class="nav__donate js-nav__donate" href="http://localhost:4444/donate" style="padding:7.5px 12.5px;">Donate</a></div>
      <div class="nav__social js-nav__social js-nav__a"><a href="https://www.linkedin.com/school/comitorg/"><img src="../assets/icons/linkedin.png"></a><a href="https://www.youtube.com/channel/UCWHKdUjlbwcEqYnTvei7Pqg"><img src="../assets/icons/youtube.webp"></a><a href="https://www.instagram.com/comit_org/?hl=en"><img src="../assets/icons/instagram.png"></a><a href="https://twitter.com/comitorg?lang=en"><img src="../assets/icons/twitter.webp"></a><a href="https://www.facebook.com/ComITorg"><img src="../assets/icons/facebook.webp"></a></div>
      <div class="nav__grid js-nav__grid">
        <!-- td used as margin/whitespace-->
        <table style="font-size:12px;">
          <tr> 
            <th> 
              <p>WIP</p>
            </th>
            <td> </td>
            <th>
              <p>Python course Saskatoon, Apply now</p>
            </th>
            <td></td>
            <th>
              <p>Meet Bob the Intern</p>
            </th>
            <td></td>
          </tr>
        </table>
      </div>
    </div>
    <div class="body-content js-body-content">           
      <div class="footer js-footer"> 
        <div class="footer__main js-footer__main">
          <p style="width:100%;">© ComIT 2020. ComIT is a registered charity. Charity Registration Number 749949723RR0001  </p>
          <p>All charitable donations to ComIT are eligible for a tax receipt in Canada.</p>
        </div>
      </div>
    </div>
  </body>
  <body> </body>
</html>
<html></html>