doctype html
html(lang='eng')
    head 
        title ComIT | Home 
        link(rel="stylesheet" href="../css/main.css")
        link(rel="stylesheet" href="../css/nav.css")
        link(rel="stylesheet" href="../css/associates.css")
        link(rel="stylesheet" href="../css/footer.css")
        link(rel="icon" href="../assets/comit1.png")
    body 
        include includes/nav.pug
        .body-content.js-body-content
    body 
html