doctype html
html(lang='eng')
    head 
        title ComIT | Home 
        link(rel="stylesheet" href="../css/main.css")
        link(rel="stylesheet" href="../css/nav.css")
        link(rel="stylesheet" href="../css/home.css")
        link(rel="stylesheet" href="../css/footer.css")
        link(rel="icon" href="../assets/comit1.png")
    body 
        include includes/nav.pug
        .body-content.js-body-content
            .home1.js-home1
                .home1__display--sign.js-home1__display--sign 
                        h4(style="padding:10px 0 0 7.5px;") 2020
                        br
                        h4(style="padding:10px 0 10px 7.5px;") 2019
                        br
                        br
                        br
                        br
                        br
                        br
                        h4(style="padding:10px 0 10px 7.5px;") 2018
                        br
                        br
                        br
                        br
                        br
                        br
                        h4(style="padding:10px 0 0 7.5px;") 2017

                .home1__display1.js-home1__display1 
                    .display1__grad2020-1 
                        br
                    .display1__grad2019-1 
                        br
                    .display1__grad2019-2 
                        br
                    .display1__grad2018-1
                        br
                    .display1__grad2018-2
                        br
                    .display1__grad2017-1
                        br

                .home1__text-1.js-home1__text-1 
                    h3(style="margin-top:87.5px;white-space:nowrap;") We Are ComIT
                    p.
                        We are a registered non-profit charity which provides training and classes to people struggling to overcome employment barriers. 
                        Our work targets the skills gap in the labour market by focusing on the expertise and the technical know-how required by local companies.
                    p.
                        Founded in 2017, our Canadian branch has partnered with over 150 tech companies and operate in 15 Canadian cities. For 4 years we have hosted over 40 programs and 750+ graduates,
                        with many landing in various internships and positions in the IT sector.
                    h3() Our Mission
                    p.
                        ComIT is dedicated to meet Canada's oncoming skills shortage. Our goal is to give thousands of newly trained graduates long-lasting careers in the Canadian tech sector.
                        We offer 3 month part-time courses to people who are interested in a career in IT where students will study about 8 hours/week in person with classes. We teach the 
                        basic material required to learn programming languages and the skills to create full-fledged programs. With topics of the course usually determined by job openings in the local area. 
                        Our cirriculum also includes soft skills and help in networking that is necessary for future opportunities in the industry.
                    p.
                        Upon graduation, ComIT provides further support to graduates by providing contact to employers who are open to interviewing recent graduates.
            .home2.js-home2
                .home2__text1.js-home2__text1 
                    span(style="")
                .home2__icon-display.js-home2__icon-display
                    img(src="../assets/icons/java.png")
                    img(src="../assets/icons/netcore.png")
                    br
                    br
                    br
                    img(src="../assets/icons/python.png")
                    img(src="../assets/icons/javascript.png")
                    br
                    br
                    br
                    img(src="../assets/icons/reactjs.png")
                    img(src="../assets/icons/node.png")
                    br
                    br
                    br
                // p(style="width:auto;margin:0 0 0 120px;padding-top:10px;font-size:20px;") 
                .home2__text2.js-home2__text2 
                    span(style="font-size:42px;") Recoding Futures
                    br
                    br
                    a(src="" style="font-size:20px;background-color:#F1C411;color:white;padding:7.5px 14px") APPLY FOR A SCHOLARSHIP
                        
                .home2__partner-display.js-home2__partner-display
                    img(src="../assets/partners/skipthedishes.jpg")
                    br
                    img(src="../assets/partners/canada-life.jpg")
                    br
                    img(src="../assets/partners/mitt.png")
                    br
                    
                .home2__text3.js-home2__text3
                    span(style="font-size:42px;") Our Employment Partners
                    br
                    br
                    a(src="" style="font-size:20px;background-color:#F1C411;color:white;padding:7.5px 14px") LEARN MORE
                
                .home2__link-display.js-home2__link-display
                    

                        
            include includes/footer.pug
    body 
html
        

                    

                
                

            


                    

                    
                
                