doctype html
html(lang='eng')
    head 
        title ComIT | Home 
        link(rel="stylesheet" href="../css/main.css")
        link(rel="stylesheet" href="../css/nav.css")
        link(rel="stylesheet" href="../css/home.css")
        link(rel="stylesheet" href="../css/footer.css")
        link(rel="icon" href="../assets/comit1.png")
    body 
        .nav.js-nav
            .nav__logo.js-nav__logo
                a(href="http://localhost:4444")
                    img(src='../assets/comit2.png' alt="ComIT")
            .nav__a.js-nav__a
                a(href="http://localhost:4444/courses") Courses
                a(href="http://localhost:4444/employers") Employers
                a(href="http://localhost:4444/supporters") Supporters
                a(href="http://localhost:4444/donate" class="nav__donate js-nav__donate" style="padding:7.5px 12.5px;") Donate
            .nav__social.js-nav__social.js-nav__a
                a(href="https://www.linkedin.com/school/comitorg/")
                    img(src="../assets/icons/linkedin.png")
                a(href="https://www.youtube.com/channel/UCWHKdUjlbwcEqYnTvei7Pqg")
                    img(src="../assets/icons/youtube.webp")
                a(href="https://www.instagram.com/comit_org/?hl=en")
                    img(src="../assets/icons/instagram.png") 
                a(href="https://twitter.com/comitorg?lang=en")
                    img(src="../assets/icons/twitter.webp")
                a(href="https://www.facebook.com/ComITorg")
                    img(src="../assets/icons/facebook.webp")
                    
        .body-content.js-body-content            
            .footer.js-footer 
                    .footer__main.js-footer__main
                        p(style="width:100%;") © ComIT 2020. ComIT is a registered charity. Charity Registration Number 749949723RR0001  
                        p All charitable donations to ComIT are eligible for a tax receipt in Canada.
    body 
html